*{
    box-sizing: border-box;

}
:root{

    --primary-red:rgb(213, 52, 57);
    --primary-bg:#f5f5f5;

}



/* LEFT SIDE BAR */


.left-sidebar {
    width: 300px;
    height: 100vh;
    background: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    top: 0;
    border-right: 2px solid rgb(184, 184, 184);
    
}

.left-sidebar-logo{
    height: 80.75px;
}

.left-sidebar-logo img{
    margin: auto;
    display: block;
    padding: 10px 0px 10px 0px;
    width:180px;
        
}

.offset-list {
    list-style: none;
    padding: 10px 5px;
    left: 9px;
    scroll-behavior: auto;
    height: calc(100vh - 80.75px)
        
}

.offset-list li {
    padding: 15px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 10%) 0px 1.95px 0px
}
    
.offset-list-item-link{
    text-decoration: none;
    color: #000;
}

       
/* CUSTOM ACCORDIAN  */

.custom-list-group-item{
    border: none!important;
    outline: none!important;
}

.accordion-button{
    background-color: white!important;
    color: black!important;
    padding: 0.5rem 1.25rem !important;
    border-bottom: transparent  !important;
}

.accordion-button:focus {
   
    border-color: none !important;
    box-shadow: none !important;
}

.custom-accordian-button > img{
    padding-right: 16px;
}

.select2-container{ width: 100% !important; }
    
/* CUSTOM ACCORDIAN ENDS */

    
/* SCROLL BAR STARTS */
    
   /* width */
::-webkit-scrollbar {
    width: 4px;
}
    
    /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2px;
}
    
    /* Handle */
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 2px;
}
    
    /* SCROLLBAR ENDS  */


 @media (max-width:1200px) {

.left-sidebar{
    transform: translateX(-100%);
    
            
}
    
.left-sidebar-open{
    transform: translateX(0);
    z-index: 10;
    transition: all 500ms ease-in-out;
}
    
    }


@media (max-width:576px) {

.left-sidebar {
    width: 230px;
    height: 50vh;
}
    
.offset-list{
    overflow-y: scroll;
    background-color: white;
}
    
.nmims-logo{
     transform: scale(0.6);
}
    
.left-sidebar-logo{
          
    display: flex;
    justify-content: center;
    align-items: center;
}
    }
    
    
 /* LEFT SIDE-BAR ENDS    */




/* MAIN */

.main {
    position: absolute;
    max-width: 100%;
    left: 300px;
    right: 0;
   
}

/* TOPNAVBAR */

.nav-top{
    position: fixed !important;
    top: 0;
    width: 100%;
}

.btn:focus{
    box-shadow: none !important;
}

.top-navbar{
 
    position: fixed;
    top: 0;
    right: 0;
    left: 300px;
    padding: 2vh;
    background: white;
    z-index: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nmims-logo-smalldevices{
    display: none;
}

.hamburger-smalldevices{
    display: none;
}

.top-navbar__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}
.top-navbar__list > li{
    padding: 0;
    margin: 0;
    flex-grow: 1;
    margin: 0.5em 2em;
}

.top-navbar__list > li > a{
    text-decoration: none;
}

.userprofile-dropdown-menu{
    
    transform: none !important;
 
    inset: 56px -16px auto auto !important;
    
}

/* TOPNAVBAR ENDS */



.main-content{
    padding: 100px 15px;
    width: 100%;
    min-height: 100vh;
    background: var(--primary-bg);
    background-size: cover;
}

.row1-data-card {
    width: 100%;
    height: 100%;
    transition: transform 300ms ease-in-out;
    border-radius: 15px;
}

/* COMMON TO "a" TAGS */
.row1-data a{
    text-decoration: none;
    color: #000;
}

@media (min-width:1200px) {
    

    .row1-data-card:hover{
        transform: scale(1.1);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

}



.row2-data-card {
    width: 100%;
    height: 100%;
    border-radius: 15px ;
}

.row3-data-card{
    border-radius: 15px ;
}

.custom_row tbody tr{
    border-bottom: 10px solid;
    border-color: transparent;
    box-shadow: #858585 0px 10px 30px -20px;
    
    background:#ffffff;
   -webkit-transform: translate(0,0);
   -moz-transform: translate(0,0);
}

.custom_row tbody tr:hover{
   
    box-shadow: #212529 0px 10px 30px -20px;
  
}

.table-card{
    padding:5px;
}

.table-header{
    background: var(--primary-red);
    padding:5px; 
    margin: 16px 5px;
    border-radius: 10px!important;
    color:#fff; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

 .table-header  > p{
     margin-bottom: 0 ;
 }

.table-header-search{
    background-color: #f5f5f5;
}

tr > th, tr > td{
    text-align: center;
}


@media (max-width:1200px) {
    

    .main{
        left: 0;
    }
    
    .top-navbar{
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top-navbar__list{
        margin-left: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .nmims-logo-smalldevices{
        display: inline;
        width: 125px;
        height: 40px;
        padding-left: 1em;
    }

    .hamburger-smalldevices{
        display: inline;
        transform: scale(1.2);  
       
    }  
}

@media (max-width:576px) {

    .top-navbar{
        display: grid;
        grid-template-columns: auto auto ;
    
    }

    .mobile-icon{
        grid-column: 1/2;
        grid-row: 1/2;
        

    }

    .top-navbar__list{
        grid-column: 1/3;
        grid-row: 2/3;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      
    }

    .hamburger-smalldevices{
        grid-column: 2/3;
        grid-row: 1/2;
        float: right;
    }

    .main-content{
        padding-top: 4em;
    }
    

}


/* PAGINATION START*/

.pagination>li>a,
.pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7;
}

/* PAGINATION END */

