<div class="step-form">

<div class="d-flex justify-content-around flex-wrap  py-3 time-line stages">
    <div class="arrow-pointer stage active my-1" data-step="1"> Days </div>
    <div class="arrow-pointer stage pending my-1" data-step="2">Holidays </div>
    <div class="arrow-pointer stage pending my-1" data-step="3"> Room</div>
    <div class="arrow-pointer stage pending my-1" data-step="4"> Program</div>
    <div class="arrow-pointer stage pending my-1" data-step="5"> Course Workload</div>
    <div class="arrow-pointer stage pending my-1" data-step="6"> Session Date</div>
    <div class="arrow-pointer stage pending my-1" data-step="7"> Session types</div>
    <div class="arrow-pointer stage pending my-1" data-step="8"> Session types date range</div>
    <div class="arrow-pointer stage pending my-1" data-step="9"> Division</div>
    <div class="arrow-pointer stage pending my-1" data-step="10"> Weekly Constraint</div>
    <div class="arrow-pointer stage pending my-1" data-step="11"> Faculty </div>
    <div class="arrow-pointer stage pending my-1" data-step="12"> Faculty Workload</div>
    <div class="arrow-pointer stage pending my-1" data-step="13"> Faculty Timetable preference</div>
   
</div>


<div class="step-form-body">

<!-- Days -->
<form action="/admin/days" method="post" class="step form-active" id="days-form" data-step="1">
    <div class="modal-header table-card-header ">
        <h5 class="modal-title text-white" id="add-days-modal-title">Select Days</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-days"><i class="fas fa-plus"></i> </button>
    </div>
    <div id="errorHtml" class="error-show pt-3"></div>
    <div class="table-responsive">
        <table class="table" id="add-more-days-table">
            <thead>
                <th>Start Date</th>
                <th>End Date</th>
                
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input name="startDate" id="startDate" type="date" class="form-control" placeholder="Start Date"
                            required>
                    </td> 
                    <td>
                        <input name="endDate" id="endDate" type="date" class="form-control"
                            placeholder="End Date" required>
                    </td>
                    
                    <td>
                        <i class="far fa-edit d-none"></i>
                        <i class="fas fa-trash-alt text-danger cursor-pointer remove-days"></i>
                    </td>
                </tr>
            </tbody> 
        </table>
    </div>
    
</form>

<!-- Holidays -->
<form action="/admin/holidays" method="post" class="step d-none" id="holidays-form" data-step="2">
    <div class="modal-header table-card-header">
        <h5 class="modal-title text-white" id="add-holidays-modal-title">Add New Holidays</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-holidays"><i class="fas fa-plus"></i> </button>
    </div>
    <div id="errorHtml" class="error-show pt-3"></div>
    <div class="table-responsive">
        <table class="table" id="add-more-holidays-table">
            <thead>
                <th>Calendar Id</th>
                <th>Calendar Name</th>
                <th>Campus Id</th>
                <th>Caldendar Year</th>
                <th>Holiday Date</th>
                <th>Holiday Reason</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input name="calendarId" id="calendarId" type="number" class="form-control" placeholder="Caldendar Id"
                            required>
                    </td>
                    <td>
                        <input name="calendarName" id="calendarName" type="text" class="form-control"
                            placeholder="Campus Name" required>
                    </td>
                    <td>
                        <input name="campusId" id="campusId" type="number" class="form-control"
                            placeholder="Campus Name" required>
                    </td>
                    <td>
                        <input name="calendarYear" id="calendarYear" type="month" class="form-control"
                            placeholder="Campus Year" required>
                    </td>
                    <td>
                        <input name="holidayDate" id="holidayDate" type="date" class="form-control"
                            placeholder="Holiday Date" required>
                    </td>
                    <td>
                        <input name="holidayReason" id="holidayReason" type="text" class="form-control"
                            placeholder="Holiday Reason" required>
                    </td>
                    <td>
                        <i class="far fa-edit d-none"></i>
                        <i class="fas fa-trash-alt text-danger cursor-pointer remove-holidays"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</form>

<!-- Room -->
<form action="/admin/room" method="post" class="step d-none" id="room-form" data-step="3">
    <div class="modal-header table-card-header">
        <h5 class="modal-title" id="add-room-modal-title">Add New room</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-room"><i class="fas fa-plus"></i> </button>
    </div>
    <div class="modal-body">
        <div id="errorHtml"></div>
        <input type="hidden" id="roomId" name="roomId">
        <div class="table-responsive ">
            <table class="table " id="add-more-room-table">
                <thead>
                    <th>Room Number</th>
                    <th>Room Type</th>
                    <th>Campus Id</th>
                    <th>Floor</th>
                    <th>Capacity</th>
                    <th>Building Name</th>
                    <th>Building no.</th>
                    <th>Owner</th>
                    <th>Handled By</th>
                   
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input name="roomNumber" id="roomNumber" type="number" class="form-control"
                            placeholder="Room Number" required>
                        </td>
                        <td>
                            <input name="roomType" id="roomType" type="text" class="form-control"
                                placeholder="Building Number" required>
                        </td>
                        <td>
                            <input name="campusId" id="campusId" type="number" class="form-control"
                                placeholder="Campus Id" required>
                        </td>
                        <td>
                            <input name="floor" id="floor" type="number" class="form-control"
                                placeholder="Floor" required>
                        </td>
                        <td>
                            <input type="number" name="capacity" id="capacity" class="form-control"
                                style="width: 70px;" placeholder="capacity" required>
                        </td>
                        <td>
                            <input name="buildingName" id="buildingName" type="text" class="form-control"
                                placeholder="Building Name" required>
                        </td>
                        <td>
                            <input name="buildingNumber" id="buildingNumber" type="number" class="form-control"
                                placeholder="Building Number" required>
                        </td>

                        <td>
                            <select class="form-select modalSelect2" name="ownerId" id="ownerId" required>
                                <option disabled selected>--Owner--</option>
                           
                                <option value="">
                                   SVKM
                                </option>
                               
                            </select>
                        </td>
            
                        <td>
                            <select class="form-select modalSelect2" name="handledById" id="handledById" required>
                                <option disabled selected value>--Handled By--</option>
                               
                                <option value="">
                                 3
                                </option>
                               
                            </select>
                        </td>
                 
                        <td>
                            <i class="far fa-edit d-none"></i>
                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-room"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</form>

<!--Program -->
<form action="/admin/program" method="post" class="step d-none" id="program-form" data-step="4">

    <div class="modal-header table-card-header">
        <h5 class="modal-title" id="add-program-modal-title">Add New Program</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-program"><i class="fas fa-plus"></i> </button>
    </div>

    <div class="modal-body">
        <div id="errorHtml"></div>
        <input type="hidden" id="programId" name="programId">

        <div class="table-responsive">
            <table class="table table-bordered" id="add-more-program-table">
                <thead>
                    <th>Porgram Id</th>
                    <th>Program Name</th>
                 
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="number" name="programId" id="programId" class="form-control" palceholder="Program Id" required>
                        </td>
                       
                        <td>
                            <input type="text" name="programName" id="programName" class="form-control"
                                 required>
                        </td>

                        <td>
                            <i class="far fa-edit d-none"></i>
                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-program"></i>
                        </td>
                       
                    </tr>
                </tbody>
            </table>
        </div>


</form>

<!-- Course Workload -->
<form action="/admin/course-workload" method="post" class="step d-none" id="courseWorkload-form" data-step="5">

    <div class="modal-header table-card-header">
        <h5 class="modal-title" id="add-courseWorkload-modal-title">Add New Course workload</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-courseWorkload"><i class="fas fa-plus"></i> </button>
    </div>

    <div class="modal-body">
        <div id="errorHtml"></div>
        <input type="hidden" id="programId" name="programId">

        <div class="table-responsive">
            <table class="table table-bordered" id="add-more-courseWorkload-table">
                <thead>
                    <th>Porgram Id</th>
                    <th>Program Name</th>
                 
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="number" name="programId" id="programId" class="form-control" palceholder="Program Id" required>
                        </td>
                       
                        <td>
                            <input type="text" name="programName" id="programName" class="form-control"
                                 required>
                        </td>

                        <td>
                            <i class="far fa-edit d-none"></i>
                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-program"></i>
                        </td>
                       
                    </tr>
                </tbody>
            </table>
        </div>


</form>

<!-- Session date -->
<form action="/admin/session-date" method="post" class="step d-none" id="sessionDate-form" data-step="6">

    <div class="modal-header table-card-header">
        <h5 class="modal-title" id="add-sessionDate-modal-title">Add New Course workload</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-sessionDate"><i class="fas fa-plus"></i> </button>
    </div>

    <div class="modal-body">
        <div id="errorHtml"></div>
        <input type="hidden" id="sessionDate" name="sessionDate">

        <div class="table-responsive">
            <table class="table table-bordered" id="add-more-sessionDate-table">
                <thead>
                    <th>Acad Session</t>
                 
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="number" name="acadSession" id="programacadSessionId" class="form-control" palceholder="Acad Session" required>
                        </td>
                     

                        <td>
                            <i class="far fa-edit d-none"></i>
                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-program"></i>
                        </td>
                       
                    </tr>
                </tbody>
            </table>
        </div>


</form>

<!-- Session Type -->
<form action="/admin/session-type" method="post" class="step d-none" id="sessionType-form" data-step="7">

    <div class="modal-header table-card-header">
        <h5 class="modal-title" id="add-sessionDate-modal-title">Add New Course workload</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-sessionDate"><i class="fas fa-plus"></i> </button>
    </div>

    <div class="modal-body">
        <div id="errorHtml"></div>
        <input type="hidden" id="sessionDate" name="sessionDate">

        <div class="table-responsive">
            <table class="table table-bordered" id="add-more-sessionDate-table">
                <thead>
                    <th>Acad Session</t>
                 
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="number" name="acadSession" id="programacadSessionId" class="form-control" palceholder="Acad Session" required>
                        </td>
                     

                        <td>
                            <i class="far fa-edit d-none"></i>
                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-program"></i>
                        </td>
                       
                    </tr>
                </tbody>
            </table>
        </div>


</form>

<!-- Session date range -->
<form action="/admin/session-range" method="post" class="step d-none" id="sessionRange-form" data-step="8">

    <div class="modal-header table-card-header">
        <h5 class="modal-title" id="add-sessionRange-modal-title">Add New Course workload</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-sessionRange"><i class="fas fa-plus"></i> </button>
    </div>

    <div class="modal-body">
        <div id="errorHtml"></div>
        <input type="hidden" id="sessionRange" name="sessionRange">

        <div class="table-responsive">
            <table class="table table-bordered" id="add-more-sessionRange-table">
                <thead>
                    <th>Acad Session</t>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="number" name="acadSession" id="programacadSessionId" class="form-control" palceholder="Acad Session" required>
                        </td>
                     

                        <td>
                            <i class="far fa-edit d-none"></i>
                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-program"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


</form>

<!-- Division -->
<form action="/admin/division" method="post" class="step d-none" id="division-form" data-step="9">

    <div class="modal-header table-card-header">
        <h5 class="modal-title" id="add-division-modal-title">Add New Course workload</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-division"><i class="fas fa-plus"></i> </button>
    </div>

    <div class="modal-body">
        <div id="errorHtml"></div>
        <input type="hidden" id="division" name="sessionRange">

        <div class="table-responsive">
            <table class="table table-bordered" id="add-more-division-table">
                <thead>
                    <th>Division</t>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="number" name="division" id="division" class="form-control" palceholder="Acad Session" required>
                        </td>
                     

                        <td>
                            <i class="far fa-edit d-none"></i>
                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-division"></i>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
</form>

<!-- Division Batches -->
<form action="/admin/division-batches" method="post" class="step d-none" id="divisionBatches" data-step="10">

    <div class="modal-header table-card-header">
        <h5 class="modal-title" id="add-divisionBatches-modal-title">Add New Course workload</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-division"><i class="fas fa-plus"></i> </button>
    </div>

    <div class="modal-body">
        <div id="errorHtml"></div>
        <input type="hidden" id="divisionBatches" name="divisionBatches">

        <div class="table-responsive">
            <table class="table table-bordered" id="add-more-divisionBatches-table">
                <thead>
                    <th>Division Batches</t>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="number" name="divisionBatches" id="divisionBatches" class="form-control" palceholder="Acad Session" required>
                        </td>

                        <td>
                            <i class="far fa-edit d-none"></i>
                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-divisionBatches"></i>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
</form>

<!-- Weekly constraint -->
<form action="/admin/weeklyConstraint" method="post" class="step d-none" id="weeklyConstraint" data-step="11">

    <div class="modal-header table-card-header">
        <h5 class="modal-title" id="add-weeklyConstraint-modal-title">Add New Weekly constraint</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-weekly-constraint"><i class="fas fa-plus"></i> </button>
    </div>

    <div class="modal-body">
        <div id="errorHtml"></div>
        <input type="hidden" id="weeklyConstraint" name="weeklyConstraint">

        <div class="table-responsive">
            <table class="table table-bordered" id="add-more-weeklyConstraint-table">
                <thead>
                    <th>tag-id</th>
                    <th>Name</th>
                    <th>Event-type</th>
                    <th>rule-on</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="number" name="tagId" id="tagId" class="form-control" palceholder="tag-Id" required>
                        </td>
                        <td>
                            <input type="text" name="constraintName" id="constraintName" class="form-control" palceholder="Name" required>
                        </td>
                        <td>
                            <input type="text" name="eventType" id="eventType" class="form-control" palceholder="Event Type" required>
                        </td>
                        <td>
                            <input type="text" name="ruleOn" id="ruleOn" class="form-control" palceholder="Rule on" required>
                        </td>

                        <td>
                            <i class="far fa-edit d-none"></i>
                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-weekly-constraint"></i>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
</form>

<!-- Faculty -->
<form action="/admin/faculty" method="post" class="step d-none" id="faculty" data-step="12">

    <div class="modal-header table-card-header">
        <h5 class="modal-title" id="add-faculty-modal-title">Add New Faculty</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-faculty"><i class="fas fa-plus"></i> </button>
    </div>

    <div class="modal-body">
        <div id="errorHtml"></div>
        <input type="hidden" id="faculty" name="faculty">

        <div class="table-responsive">
            <table class="table table-bordered" id="add-more-faculty-table">
                <thead>
                    <th>Faculty-id</th>
                    <th>Faculty Name</th>
                    <th>Start time Id</th>
                    <th>End Time Id</th>
                    <th>Faculty dbo Id</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="number" name="facultyId" id="facultyId" class="form-control" palceholder="Faculty Id" required>
                        </td>
                        <td>
                            <input type="text" name="facultyName" id="facultyName" class="form-control" palceholder="Faculty Name" required>
                        </td>
                        <td>
                            <input type="number" name="facultyStartTimeId" id="facultyStartTimeId" class="form-control" palceholder="Faculty Start Time" required>
                        </td>
                        <td>
                            <input type="number" name="facultyEndTimeId" id="facultyEndTimeId" class="form-control" palceholder="Faculty End Time" required>
                        </td>
                        <td>
                            <input type="number" name="facultydboId" id="facultydboId" class="form-control" palceholder="Faculty dbo Id" required>
                        </td>

                        <td>
                            <i class="far fa-edit d-none"></i>
                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-weekly-constraint"></i>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
</form>

<!-- Faculty Time Preference -->
<form action="/admin/faculty-preference" method="post" class="step d-none" id="facultyPreference" data-step="13">

    <div class="modal-header table-card-header">
        <h5 class="modal-title" id="add-facultyPreference-modal-title">Add New Faculty</h5>
        <button type="button" class="btn add-btn btn-sm" id="add-more-facultyPreference"><i class="fas fa-plus"></i> </button>
    </div>

    <div class="modal-body">
        <div id="errorHtml"></div>
        <input type="hidden" id="facultyPreference" name="faculty">

        <div class="table-responsive">
            <table class="table table-bordered" id="add-more-facultyWorkload-table">
                <thead>
                    <th>Faculty-id</th>
                    <th>Faculty Name</th>
                    <th>Start time Id</th>
                    <th>End Time Id</th>
                    <th>Faculty dbo Id</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="number" name="facultyId" id="facultyId" class="form-control" palceholder="Faculty Id" required>
                        </td>
                        <td>
                            <input type="text" name="facultyName" id="facultyName" class="form-control" palceholder="Faculty Name" required>
                        </td>
                        <td>
                            <input type="number" name="facultyStartTimeId" id="facultyStartTimeId" class="form-control" palceholder="Faculty Start Time" required>
                        </td>
                        <td>
                            <input type="number" name="facultyEndTimeId" id="facultyEndTimeId" class="form-control" palceholder="Faculty End Time" required>
                        </td>
                        <td>
                            <input type="number" name="facultydboId" id="facultydboId" class="form-control" palceholder="Faculty dbo Id" required>
                        </td>

                        <td>
                            <i class="far fa-edit d-none"></i>
                            <i class="fas fa-trash-alt text-danger cursor-pointer remove-weekly-constraint"></i>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
</form>

</div>

<div class="step-form-footer">
    <div class="btn-container d-flex justify-content-end">
        <button type="button" class="nxt-btn" id="next-step">Next</button>
    </div>
</div>

</div>