<%- include('partials/head') %>

<section class="loginOverlay vh-100 bg-light vw-100">
		<div class="container-fluid pt-5">
				<div class="container pt-5 pb-5">
						<div class="col-lg-6 col-md-6 m-auto pt-5 pb-5 centerBody bg-white">
							         <div class="row">
												 <div class="col-6 loginLogo m-auto">
 														<img src="../img/logo-svkm.png" alt="NMIMS University Logo" class="img-fluid" />
 												</div>
												<div class="col-6 loginLogo m-auto">
														<img src="../img/logo.png" alt="NMIMS University Logo" class="img-fluid" />
												</div>
												</div>
												<hr/>
												<div class="col-12 mt-5">
														<form method="POST" action="/login" id="loginForm">
																<div class="input-group mb-3">
																		<div class="input-group-prepend">
																				<span class="input-group-text" id="inputGroup-sizing-default">
																						<i class="fas fa-user"></i>
																				</span>
																		</div>
																		<input  type="text" id="username" placeholder="SAP ID" name="username" class="focus form-control" aria-label="Username" aria-describedby="inputGroup-sizing-username" placeholder="Username">
																</div>
																<div class="input-group mb-3">
																		<div class="input-group-prepend">
																				<span class="input-group-text" id="inputGroup-sizing-default">
																						<i class="fas fa-unlock-alt"></i>
																				</span>
																		</div>
																		<input  type="password" id="password" placeholder="Password" name="password" class="form-control" aria-label="password" aria-describedby="inputGroup-sizing-password" placeholder="Password">
																</div>

																<button type="submit" id="userLogin" class="btn btn-danger w-100">Login</button>
														</form>
												</div>
						</div>
				</div>
		</div>
</section>


<%- include('partials/footer') %>
<%- include('partials/footerEnd') %>