<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/noPerm.css" />
    <title>NMIMS</title>
</head>

<body>
    <div class="main">
        <img src="/img/noPerm.gif" alt="no-permission" />
        <h2>You don't have permission to access this page.</h2>
        <button onclick="window.history.back();"> Go Back</button>
    </div>
</body>

</html>