<main class="main">

   

    <!-- NAVBAR -->
    <header>
        <nav class="top-navbar">
            <img src="/image/logo-nmims.png" alt="NMIMS LOGO" class="nmims-logo-smalldevices">
            <ul class="top-navbar__list">
                <li><a href="" class="text-dark"> <img src="/icons/speedometer.png" alt=""> Dashboard</a></li>
                <li><a href="" class="text-dark"><img src="/icons/notification.png" alt=""> Notification</a></li>
                
                <div class="btn-group">
                    <button class="btn btn-white dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        <img src="/icons/user.png" alt=""> User
                    </button>
                    <ul class="dropdown-menu userprofile-dropdown-menu" aria-labelledby="defaultDropdown">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Settings</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-kanban-fill"></i> Manage account</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-in-left"></i> Sign out</a></li>
                    </ul>
                  </div>
            </ul>
            <div class="hamburger-smalldevices"><img src="/icons/HamburgerIcon.png" alt="" width="24px"
                    height="20px"></div>
        </nav>
    </header>


