<main class="main">
    <!-- NAVBAR -->
    <header>
        <nav class="top-navbar d-flex justify-content-end align-items-center">
            <img src="/image/logo-nmims.png" alt="NMIMS LOGO" class="nmims-logo-smalldevices me-auto">
            <button class="me-auto left-sidebar-toggle" style="border: none; outline: none; background-color: white;"><i class="fa-solid fa-angles-left"></i></button>
            <ul class="top-navbar__list">
                
                <li><a href="" class="text-dark"> <img src="/icons/speedometer.png" alt=""> Dashboard</a></li>
                <li><a href="" class="text-dark"><img src="/icons/notification.png" alt=""> Notification</a></li>
                
                <div class="btn-group">
                    <button class="btn btn-white dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        <img src="/icons/user.png" alt=""> User
                    </button>
                    <ul class="dropdown-menu userprofile-dropdown-menu" aria-labelledby="defaultDropdown">
                      <li><a class="dropdown-item" href="#"><i class="fas fa-user-cog"></i> Settings</a></li>
                      <li><a class="dropdown-item" href="#"><i class="fas fa-user-circle"></i> Manage account</a></li>
                      <li><a class="dropdown-item" href="/user/logout"><i class="fas fa-sign-out-alt"></i></i> Sign out</a></li>
                    </ul>
                  </div>
            </ul>
            <div class="hamburger-smalldevices"><img src="/icons/HamburgerIcon.png" alt="" width="24px"
                    height="20px"></div>
        </nav>
    </header>


