<!-- Optional JavaScript -->
<%- include('footerwidget') %>



	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/ckeditor.js"></script>
	<script src="/js/calendar_core.min.js"></script>
	<script src="/js/calendar_daygrid.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
	<script src="/js/select2.min.js"></script>
	<script src="/js/datatable.min.js"></script>
	<script src="/js/moment.min.js"></script>
	<script src="/js/chartjs.js"></script>
	<script src="/js/style.js"></script>
	<script src="/js/session-timeout.js"></script>


	<script>

		$(document).ready(function () {
			//DOCUMENT READY STARTS HERE

			// if (!window.indexedDB) {
			// 	alert(
			// 		"Opps! Your browser does not support IndexedDB. Please try using latest version of Google Chrome"
			// 	);
			// }


			//programID Dropdown data
			//programID Dropdown <data value=""></data>
			$('#programSelected').click(function (e) {
				//console.log($(this).attr('value'));
				var programIdSelected = $('select.programPicker').val();
				console.log(programIdSelected);
				e.preventDefault();

				$.ajax({
					type: "POST",
					url: "/roomdata/roomtimesheet/",
					data: {
						programIdSelected: programIdSelected,
						dayasked: $('.table-tab').find('.nav-link').attr(
							'valueAttr'), // < note use of 'this' here
						//access_token: $("#access_token").val()
					},
					success: function (result) {
						if (result.cause == "permission denied") {
							window.location = result.reqUrl
							return
						}
						//alert('ok');
						var resultSet = result.data;
						//console.log(resultSet[0].roomno);
						var ajaxData = "";

						for (let singleResult of resultSet) {
							ajaxData += "<tr><td class='room-no' room-no='' scope='row'>" +
								singleResult.roomno + "</td><td>" + singleResult.slot1 +
								"</td><td>" + singleResult.slot2 + "</td><td>" + singleResult
									.slot3 + "</td><td>" + singleResult.slot4 + "</td><td>" +
								singleResult.slot5 + "</td><td>" + singleResult.slot6 +
								"</td><td>" + singleResult.slot7 + "</td><td>" + singleResult
									.slot8 + "</td><td>" + singleResult.slot9 + "</td></tr>";
						};
						ajaxData +=
							"<tr><td class='noResult text-center d-none' colspan='10'> No Data Found</td></tr>";
						$('.time-table-daywise tbody').html(ajaxData);

						$(".time-table-daywise tbody .room-no").each(function () {
							$(this).attr("room-no", $(this).text().toLowerCase());
						});


						//	console.log(tableAjax);
					},
					error: function (result) {
						alert('error');
					}
				});
			});

			//on program seleted get acad sessions and acadSessionDivisionList

			$("#studentProgramPicker").change(function () {
				$.ajax({
					type: 'POST',
					url: '/roomdata/getAcadSession/',
					dataType: "json",
					data: {
						programId: $(this).val()
					},

					success: function (data) {
						if (data.cause == "permission denied") {
							window.location = data.reqUrl
							return
						}
						console.log(data.data);

						var resultSet = data.data;
						console.log(resultSet);

						var ajaxData = "<option selected>Select Sesmester</option>";
						var ajaxDiv = "<option selected>Select Division</option>";

						for (let acadData of resultSet) {
							//console.log(acadData.acadSession);
							var filterSem = acadData.acadSession.replace(/\s/g, "");
							console.log(filterSem);
							ajaxData += "<option value='" + acadData.acadSession + "/" + acadData
								.division + "'>" + acadData.acadSession + "/" + acadData.division +
								"</option>";
						}
						$("#sessionPicker").html(ajaxData);

					}

				});
			});


			$("#seeUploadedProgramPicker").change(function () {
				$(".call-datatable").DataTable().destroy()
				$('#seeUploadedCourse tbody').removeClass('d-none');

				$.ajax({
					type: 'POST',
					url: '/courseworkload/uploadedProgramWise/',
					dataType: "json",
					data: {
						programId: $(this).val()
					},

					success: function (data) {
						if (data.cause == "permission denied") {
							window.location = data.reqUrl
							return
						}
						(async function () {


							let resultSet = data.data;
							let ajaxData = "";

							let promise = new Promise((resolve, rejected) => {


								for (let singleResult of resultSet) {
									ajaxData +=
										"<tr><td class='room-no' room-no='' scope='row'>" +
										singleResult.srno + "</td><td>" +
										singleResult.sem + "</td><td>" +
										singleResult.CourseName + "</td><td>" +
										singleResult
											.NoofDivisions + "</td><td>" + singleResult
											.LecturesperWeekperdivision + "</td><td>" +
										singleResult.practicalPerWeekPerDivision +
										"</td><td>" + singleResult
											.TotalSessionsperWeek + "</td><td>" +
										singleResult
											.SessionsperSemester + "</td><td>" +
										singleResult.programId +
										"</td><td>" + singleResult.moduleId +
										"</td><td>" + singleResult
											.acadSession + "</td></tr>";
								}
								resolve("successfull")
							})

							let queryCompleted = await promise
							console.log(ajaxData)
							$('.time-table-daywise tbody').html(ajaxData);
							callDatatable();


						})()




					}

				});
			});


			//delete course workload program daywise
			$('#deleteCourseWorkloadForProgramWise').click(function (e) {
				//console.log($(this).attr('value'));
				var r = confirm("Are you sure you want to delete?");
				if (r == true) {

					var programIdSelected = $('select.programPicker').val();
					console.log(programIdSelected);
					e.preventDefault();

					$.ajax({
						type: "POST",
						url: "/courseworkload/deleteCourseWorkloadForProgramWise/",
						data: {
							programIdSelected: programIdSelected,
							//	dayasked: $('.table-tab').find('.nav-link').attr('valueAttr'), // < note use of 'this' here
							//access_token: $("#access_token").val()
						},
						success: function (result) {
							if (result.cause == "permission denied") {
								window.location = result.reqUrl
								return
							}
							//alert('ok');
							var resultSet = result.data;
							//console.log(resultSet[0].roomno);
							var r = confirm(resultSet +
								" records of the seleted program deleted.");
							if (r == true) {
								$('#seeUploadedCourse tbody').addClass('d-none');
								$('#seeUploadedProgramPicker').val('default');
							}


							//	console.log(tableAjax);
						},
						error: function (result) {
							alert('error');
						}
					});
				}
			});
			/* $('.table-tab').click(function(){
	
	})*/

			$('#programIdForSemesterData').change(function () {

				$.ajax({
					type: 'POST',
					url: '/semester/getSemesterData/',
					dataType: "json",
					data: {
						programId: $(this).val()
					},

					success: function (data) {
						if (data.cause == "permission denied") {
							window.location = data.reqUrl
							return
						}
						var resultSet = data.data;
						console.log(resultSet);
						var ajaxData = "<option selected>Select Program</option>";
						for (let semesterData of resultSet) {
							ajaxData += "<option value='" + semesterData.acadSession + "'>" +
								semesterData.acadSession + "</option>"
						}
						$("#semesterNameforSemesterData").html(ajaxData)
					}

				});
			});


			//GET DATA ON LOAD
			// $.ajax({
			// 	type: 'GET',
			// 	url: '/semester/getSemesterDataInTable/',
			// 	dataType: 'json',
			// 	success: function (data) {
			// 		var resultSet = data.data;
			// 		var ajaxData
			// 		for (let semData of resultSet) {
			// 			ajaxData += "<tr><td>" + semData.programId + "</td><td>" + semData.semester +
			// 				"</td><td>" + semData.startDate + "</td><td>" + semData.endDate + "</td></tr>"
			// 		}

			// 		$("#semesterDataTable tbody").html(ajaxData)
			// 	}
			// })

			// $.ajax({
			// 	type: 'GET',
			// 	url: '/roomdata/getprograms/',
			// 	dataType: "json",
			// 	success: function (data) {
			// 		var resultSet = data.programs;
			// 		var ajaxData = "<option selected value='default' disabled>Select Program</option>";

			// 		for (let programData of resultSet) {
			// 			ajaxData += "<option value='" + programData.programId + "'>" + programData
			// 				.programName + "</option>"
			// 		}
			// 		$("#moduleListProgramPicker").html(ajaxData);

			// 	}

			// });

			//roomlistCampusPicker

			$("#roomlistCampusPicker").change(function (e) {
				e.preventDefault()

				$.ajax({
					type: 'POST',
					url: '/infradata/getRoomsCampusWise/',
					dataType: "json",
					data: {
						campusId: $(this).val()
					},

					success: function (data) {
						if (data.cause == "permission denied") {
							window.location = data.reqUrl
							return
						}
						console.log(data.data);

						var resultSet = data.data;

						var ajaxData = "";
						for (let singleResult of resultSet) {
							ajaxData += "<tr><td class='room-no' room-no='' scope='row'>" +
								singleResult.roomno + "</td><td>" + singleResult.roomtype +
								"</td><td>" + singleResult.active + "</td><td>" + singleResult
									.alloted + "</td><td>" + singleResult.allotment +
								"</td><td>" + singleResult.allotedBy +
								"</td><td>" + singleResult.floor +
								"</td><td>" + singleResult.capacity +
								"</td><td>" + singleResult.building_name +
								"</td><td>" + singleResult.owned_by +
								"</td></tr>";
						};
						ajaxData +=
							"<tr><td class='noResult text-center d-none' colspan='10'> No Data Found</td></tr>";
						$('.time-table-seeRoomListCampusWise tbody').html(ajaxData);

						$(".time-table-seeRoomListCampusWise tbody .room-no").each(function () {
							$(this).attr("room-no", $(this).text().toLowerCase());
						});
					},

					error: function (result) {
						alert('error');
					}

				});
			});


			//JS FOR SEMESTER:


			//ON PROGRAM ID CHANGE
			$('#programIdForSemesterData').change(function () {
				$.ajax({
					type: 'POST',
					url: '/semester/getSemesterData/',
					dataType: "json",
					data: {
						programId: $(this).val()
					},

					success: function (data) {
						if (data.cause == "permission denied") {
							window.location = data.reqUrl
							return
						}
						var resultSet = data.data;
						console.log(resultSet);
						var ajaxData = "<option selected disabled>Select Program</option>";
						for (let semesterData of resultSet) {
							ajaxData += "<option value='" + semesterData.acadSession + "'>" +
								semesterData.acadSession + "</option>"
						}
						$("#semesterNameforSemesterData").html(ajaxData)
					}

				});
			});


			$("#addSemesterData").click(function (e) {
				console.log("Clicked")
				e.preventDefault()

				var reqArr = []
				$('.req').each(function () {
					if ($(this).val() == null || $(this).val() == "") {
						$(this).attr('isEmpty', 'true')
						reqArr.push('0')
					}
				})
				console.log(reqArr)

				if (reqArr.length === 0) {

					console.log("Database Fired")
					$.ajax({
						type: 'POST',
						url: '/semester/insertSemesterData/',
						dataType: 'json',
						data: {
							programId: $("#programIdForSemesterData").val(),
							semester: $("#semesterNameforSemesterData").val(),
							startDate: $("#startDateForSemesterData").val(),
							endDate: $("#endDateForSemesterData").val(),
						},
						success: function (data) {
							if (data.cause == "permission denied") {
								window.location = data.reqUrl
								return
							}
							var resultSet = data.data
							console.log(resultSet)
							var ajaxData
							for (let semData of resultSet) {
								ajaxData += "<tr><td>" + semData.programId + "</td><td>" + semData
									.semester + "</td><td>" + semData.startDate + "</td><td>" +
									semData.endDate + "</td></tr>"
							}

							$("#semesterDataTable tbody").html(ajaxData)
						}


					})
				}
			})

			$('#alertOk').click(function () {
				$('.alertBody').addClass('d-none')
				$('#alertNo').addClass('d-none')
				$('.manualAllocationBadge').addClass('d-none')
			})
			$('#alertNo').click(function () {
				$('.alertBody').addClass('d-none')
				$('#alertNo').addClass('d-none')
				$('#alertOk').removeClass('d-none')
				$('#alertConfirm').addClass('d-none')
				$('.manualAllocationBadge').addClass('d-none')
			})




			//MOBILE SIDE BAR OPEN CLOSE
			var sidebarOpen = 1
			$(".navbar-toggler").click(function () {
				if (sidebarOpen === 1) {
					$(".sidebar").removeClass("d-none")
					sidebarOpen = 0
				} else {
					$(".sidebar").addClass("d-none")
					sidebarOpen = 1
				}
			})



			//SELECT TIME

			if ($(".selTime").length > 0) {
				let hhSelect = "<select class='selHH' required>";
				let mmSelect = "<select class='selMM' required>";
				let amPmSelect =
					"<select class='selAmPm' required><option value='AM'>AM</option><option value='PM'>PM</option></select>";
				let hrs, mins;

				for (let hours = 0; hours < 13; hours++) {
					if (hours < 10) {
						hrs = "0" + hours
					} else {
						hrs = hours
					}
					hhSelect += "<option value='" + hrs + "'>" + hrs + "</option>";
				}
				hhSelect += "</select>"

				for (let minutes = 0; minutes < 60; minutes++) {
					if (minutes < 10) {
						mins = "0" + minutes
					} else {
						mins = minutes
					}
					mmSelect += "<option value='" + mins + "'>" + mins + "</option>";
				}
				mmSelect += "</select>"


				$(".selTime").html(hhSelect + mmSelect + amPmSelect)

			}


			//Document Ready Ends
		});
	</script>