/*CUSTOM CSS CLASSES REUSABLE*/

.user-img {
    max-width: 100px;
    min-width: 70px;
    max-height: 100px;
    border: 1px solid #ff1744;
    border-radius: 50%;
    padding: 5px;
    background: #ffd8e0;
}

.selTime {
    background: #f4fff7;
    display: flex;
    width: fit-content;
    height: 30px;
}

.selTime select {
    background: none;
}

.facultyna-color {
    background: #ffc2c2 !important;
}

.tr-selected {
    background: #000000 !important;
    color: #ffffff;
}

.btn-submit {
    color: #fff;
    background-color: #C62828;
    border-color: #c62828;
}

.btn-submit:hover {
    color: #fff;
    background-color: #ff1744;
    border-color: #ff1744;
}

.rotate-45 {
    transform: rotateZ(45deg);
}

.f-12 {
    font-size: 12px;
}

.f-20 {
    font-size: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.activeNavLink {
    background: #d53439;
    color: #ffffff;
}

.flex-list li {
    display: inline-flex;
    border-right: 1px solid #ddd;
    padding: 0 10px;
    line-height: 1;
}

.flex-list li:first-child {
    border-left: 1px solid #ddd;
}

.h-45 {
    height: 45px !important;
}

.bg-red {
    transition: 0.3s;
    background: #d53439;
}

.bg-black {
    background: #000000 !important;
}

.rounded-1 {
    border-radius: 20px;
    overflow: hidden;
}

.txt-brown {
    color: #925300;
}

.txt-drkInfo {
    color: #2f4f4f;
}

.txt-drkBlue {
    color: #000b8c;
}

.txt-drkRed {
    color: #5f0011;
}

.txt-orangeRed {
    color: #ff4500;
}

.cust-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    background: rgba(0, 0, 0, 0.70);
    z-index: 10500;
}

.sap-flag {
    background: rgb(0 0 0 / 0.50);
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    padding: 0px 13px;
    border-radius: 10px;
    position: absolute;
    display: block;
    top: 2px;
    right: 2px;
}

/*CUSTOM CSS CLASSES REUSABLE END*/

td[data-eventname='0'] {
    background: #828282;
    color: #fff;
}

/* #pills-tab {
    position: fixed;
    top: 65px;
    left: 230px;
    background: #fff;
    padding: 0px 15px 6px 15px;
    z-index: 999;
    box-shadow: 2px 0px 6px 0px;
} */

#filter-bar {
    position: fixed;
    z-index: 999;
    background: #fff;
    top: 65px;
    left: 230px;
    padding: 7px 15px 10px 15px;
    width: 100%;
    box-shadow: 0 0px 6px -1px;
}

#allotedTimeSlotData td:not(:first-child) {
    cursor: grab;
}

#allotedTimeSlotData td[data-eventname *="Faculty NA"] {
    background: #ffc2c2;
}

#allotedTimeSlotData td[data-eventName="0"] {
    cursor: not-allowed;
}

.dragTd {
    background: rgb(0, 97, 21) !important;
    color: #fff!important;
    transition: 1s !important;
}

.targetTd {
    background: rgb(0, 97, 21) !important;
    color: #fff!important;
    transition: 1s !important;
    ;
}

.select2 {
    width: 100% !important;
}

.logo {
    width: 67%;
    position: absolute;
    left: 5px;
    top: 3px;
}

.notif-icon {
    z-index: 2000;
    position: fixed;
    right: 20px;
    top: 80px;
    height: 70px;
    width: 70px;
    text-align: center;
    border-radius: 50%;
    color: rgba(255, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.10);
    padding-top: 12px;
}

.notif-icon:hover {
    background: #d53439;
    color: #ffffff;
    transition: 0.5s;
}

.scroll-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.scroll-to-top:hover {
    background: #d53439;
    color: #ffffff;
    transition: 0.5s;
}

.mobileUser {
    display: none;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

/*SIDEBAR STARTS*/

.sidebar li:nth-child(odd) {
    padding: 11px;
    border-top: 1px solid #f1f1f1;
}

.sidebar li:nth-child(even) {
    padding: 11px;
}

.sidebar span ul {
    background: #07164e;
}

.sidebar {
    z-index: 10000;
    width: 230px;
    z-index: 10000;
    background: #fefefe;
    box-shadow: 1px 0px 3px -1px;
}

.sidebarNav {
    overflow-y: scroll;
    height: calc(100% - 65px);
}

.rightSidebar {
    position: fixed;
    top: 65px;
    right: -400px;
    transition: 1s;
    min-width: 230px;
}

.sidebarNav, .sidebarNav a {
    color: #000000;
}

.sidebar ul li:hover {
    background: #d53439;
    color: #ffffff;
}

.sidebarNav img {
    width: 22px;
}

/*SIDEBAR ENDS*/

.navbar {
    height: 65px;
    background: #ffffff;
    color: #505050;
    box-shadow: 0px 2px 3px 0px #ddd;
    z-index: 1500;
}

.navbar a {
    color: #505050;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-brand {
    display: none;
}

.navbar-nav li {
    line-height: 52px;
}

.user-ico {
    max-width: 50px;
    max-height: 50px;
    border: 1px solid #016cfa;
    border-radius: 50%;
    padding: 2px;
    background: #9fe858;
}

nav.navbar .dropdown-menu::before {
    content: "";
    border: 18px solid #f5f8ff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    border-top: transparent;
    top: -18px;
    right: 40px;
}

.dropdown-menu {
    border-top: 3px solid #d53439 !important;
    margin-top: -1px;
    border-radius: 0;
    border-top: 0;
    background: #f5f8ff;
    box-shadow: 0px 5px 7px -4px;
    color: black;
    min-width: 181px;
}

a.dropdown-item {
    line-height: 30px;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #d53439;
}

.dashboardContentWrapper {
    padding-left: 230px !important;
}

.dashboardContent {
    padding-top: 25px;
}

.dashboardLogo {
    height: 65px;
    background: #ffffff;
}

.dashboardLogo h2 {
    line-height: 65px;
}

/*BREADCRUMB*/

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 15px;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #570011;
    border-radius: 0;
}

.breadcrumb-item, .breadcrumb-item a {
    color: #ffffff !important;
}

.breadcrumb-fixed {
    position: fixed;
    width: calc(100% - 230px);
    top: 65px;
    z-index: 100;
    left: 230px;
}

.centerBody {
    box-shadow: 0px 0px 10px -6px;
}

/*Breadcrumb ends*/

.dashboardContent {
    background: url(/img/bgImg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-bottom: 50px;
}

/*CKEDITOR*/

.ck-editor__editable_inline {
    min-height: 300px;
}

/*FORM CONTROL*/

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .10rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff1744;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(87, 0, 17, 0.16);
}

/*Nav Pills*/

.nav-pills .nav-link {
    border-radius: .25rem;
    padding: 2px 20px;
    margin-right: 5px;
    background: #eaeaea;
    font-weight: 500;
    color: #404040;
    margin-top: 7px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #404040;
}

.time-table-daywise tbody td {
    position: relative;
}

.time-table-daywise .thead-dark th {
    color: #fff;
    background-color: #007373;
    border-color: #454d55;
    width: 250px;
}

/* .time-table-daywise tbody tr:nth-of-type(odd) {
    background-color: rgb(181, 255, 255);
    color: #ffffff;
} */

.fullscreen {
    text-align: right;
}

.fullscreen span:hover {
    background: #404040;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.full-screen-modal {
    z-index: 11000;
    width: 100%;
    padding-right: 0 !important;
}

.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
}

.full-screen-modal .modal-content {
    min-height: 100vh !important;
}

/*FOOTER*/

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #ffc900;
}

footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.19);
}

/*LOGIN PAGE*/

.login-container {
    min-height: calc(100vh - 100px);
    margin-top: 50px;
}

/*SCROLL Bar CSS*/

.scrollcust::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgb(199, 199, 199);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollcust::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.scrollcust::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(96, 96, 98);
    background-color: rgb(96, 96, 98);
}

/*Scroll Body*/

.scrollbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgb(199, 199, 199);
    border-radius: 0px;
    background-color: #F5F5F5;
}

.scrollbody::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.scrollbody::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgb(96, 96, 98);
    background-color: #24c287;
}

/*Login Page*/

/*.bg-login {
    background: url(../img/bg-time.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}*/

.login-body {
    position: absolute;
    top: calc(50% - 191px);
    background: rgba(255, 255, 255, 0.95) !important;
}

#editSimulatedModalData {
    z-index: 99999;
    background: hsla(0, 0%, 0%, 0.6);
}

/*DROPDOWN FILTER CSS*/

/*select#sessionPicker option[acadSem="Semester I"]:nth-child(1) {
    display: block!important;
}
select#sessionPicker option[acadSem="Semester I"]:nth-child(1) {
    display: block!important;
}*/

#toggleDroppedSlots {
    position: fixed;
    top: 66px;
    right: 0px;
    opacity: 0.5;
    border-radius: 0;
    z-index: 1200;
    padding: 9px;
    color: #ffffff;
    cursor: pointer;
}

#toggleDroppedSlots:hover {
    opacity: 1;
}

.droppedSlots {
    background: #fefefe;
    width: 300px;
    min-height: 100vh;
    position: fixed;
    top: 0px;
    right: -500px;
    padding: 0px;
    z-index: 11000;
    box-shadow: -1px 1px 1px 0px #777777;
}

.droppedSlotHead {
    background: #d53439;
    color: #ffffff;
}

.droppedSlotHead h6 {
    line-height: 2;
    margin-bottom: 0;
}

.droppedSlotHead i:hover {
    color: #c5c5c5;
}

.closeDroppedSlots {
    cursor: pointer;
}

.droppedSlots li {
    padding: 10px;
    border-bottom: 1px solid #ececec;
}

.droppedSlotsBody {
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 200px;
}

/* MANUAL PENDING SLOTS */

#manualDrawer {
    position: fixed;
    top: 130px;
    right: 0px;
    opacity: 0.5;
    border-radius: 0;
    z-index: 1200;
    padding: 9px;
    color: #ffffff;
    cursor: pointer;
}

#manualDrawer:hover {
    opacity: 1;
}

.manualSlots {
    background: #fefefe;
    width: 300px;
    min-height: 100vh;
    position: fixed;
    top: 0px;
    right: -500px;
    padding: 0px;
    z-index: 11000;
    box-shadow: -1px 1px 1px 0px #777777;
}

.manualSlotHead {
    background: #d53439;
    color: #ffffff;
}

.ManualSlotHead h6 {
    line-height: 2;
    margin-bottom: 0;
}

.manualSlotHead i:hover {
    color: #c5c5c5;
}

.closeManualSlots {
    cursor: pointer;
}

.manualSlots li {
    padding: 10px;
    border-bottom: 1px solid #ececec;
}

.manualSlotsBody {
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 200px;
}

/* SELECT 2 CSS */

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px;
}

.select2-container--default .select2-selection--single {
    height: 35px;
}

/* DATATABLE CSS */

.dataTables_scrollBody {
    height: unset !important;
    max-height: 400px !important;
}

/* .dataTables_scrollHeadInner{
    width:100%!important;
} */

.call-datatable {
    width: 100% !important;
}

/* ADD PROGRAM NAME CSS */

#addProgramNameTable tbody textarea {
    width: auto;
}

/*ANIMATIONS CSS*/

.notif-icon i {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotateZ(35deg);
    }
    50% {
        transform: rotateZ(-35deg);
    }
    100% {
        transform: rotate(35deg);
    }
}

.modal .select2-container {
    margin-bottom: 10px;
}

/*MEDIA QUERIES*/

@media (max-width:992px) {
    #filter-bar {
        left: 0;
    }
    .dashboardContentWrapper {
        padding-left: 0 !important;
    }
    .navbar-brand {
        display: block;
    }
    .breadcrumb-fixed {
        width: 100%;
        left: 0;
    }
    .mobileUser {
        display: block;
    }
    .mobileUser .user-ico {
        max-width: 40px;
        max-height: 40px;
        border: 1px solid #016cfa;
        border-radius: 50%;
        padding: 2px;
        background: #9fe858;
    }
    .navbar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 1rem;
    }
    nav.navbar .dropdown-menu::before {
        content: "";
        border: 14px solid #f5f8ff;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        position: absolute;
        border-top: transparent;
        top: -14px;
        right: 13px;
    }
}

.loaderBody {
    top: 0;
    left: 0;
    z-index: 999999;
    background: #00000085;
}

.loader {
    background: #ffffff;
    width: 260px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 130px);
}

.loader-inner {
    margin-top: 22px;
    margin-left: 9px;
}

.alertBody {
    top: 0;
    left: 0;
    z-index: 999999;
    background: #00000085;
}

.alert {
    background: #ffffff;
    border: 2px solid #00c9ff;
    width: 300px;
    height: 160px;
    top: calc(50% - 80px);
    left: calc(50% - 150px);
}

.alert-inner {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
}

/* MODAL CSS */

.modal {
    z-index: 99999;
}

.modal-backdrop.show {
    opacity: 0.5;
    z-index: 99990;
}

.vsTimePreference .card-header {
    padding: 8px 10px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.time-table-daywise tr td:first-of-type {
    background: #6b0003;
    color: #ffffff;
}

.time-table-daywise tr:nth-child(odd) {
    background: #d7f0ff;
}

.time-table-daywise tr:nth-child(even) {
    background: #efffe1;
}

.homeCard img {
    width: 50px;
}

.homeCard .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000648 !important;
    color: #ffffff;
    height: 38px;
}

.homeCard .card-header h5 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.homeCard .card-header h5 img {
    margin-right: 10px;
    width: 32px;
}

.homeCard .border:hover {
    background: #d53439;
    color: #fff;
}

/* TD TOOLTIP */

.td-tooltip {
    background: #000;
    color: #fff;
    padding: 3px 10px;
    top: 40px;
    z-index: 10;
    border-radius: 5px;
}

.td-tooltip p {
    margin: 0;
}

.success-status-div img {
    max-width: 250px;
    max-height: 250px;
    background: #28a745;
    border-radius: 50%;
    padding: 15px;
}

.failure-status-div img {
    max-width: 250px;
    max-height: 250px;
    background: #ff0000;
    border-radius: 50%;
    padding: 15px;
}

@media (min-width:992px) {
    .rightSidebar {
        right: 400px !important;
    }
}

@media (min-width: 576px) {
    .full-screen-modal .modal-dialog {
        max-width: 100%;
        margin: 1.75rem auto;
    }
}

/*PAGES*/

.upload-workload {
    padding: 35px 35px 64px;
    border: 4px dashed #888;
}

/*@media (max-width: 768px){
    .fullscreen-txt {
        display: none;
    }
}
@media (max-width: 576px){
    .fullscreen{
        text-align: center;
    }
}*/

/* Changed By Hiren */

.facultyTypeV {
    position: absolute;
    color: #fff;
    font-weight: 600;
    background: rgb(255 0 0 / 40%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facultyTypeC {
    position: absolute;
    color: #fff;
    font-weight: 600;
    background: rgb(0 0 0 / 40%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facultySlotStatus td {
    vertical-align: middle;
    font-size: 12px;
}

.custom-ta {
    color: #000;
    height: fit-content;
    width: 85%;
    margin: 30px;
    overflow-wrap: break-word;
}

.secure-pass {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-security {
    width: 200px;
    margin: 20px;
}

.search {
    width: 100%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.search-icon:hover {
    color: #fff !important
}

#btn-create-link {
    margin-top: 12px !important;
}