</head>
<body>
<aside class="left-sidebar">

    <div class="left-sidebar-logo">
       <a href="/admin/dashboard"> <img src="/image/logo-nmims.png" class="nmims-logo"> </a>
    </div>

   
    <h4 class="my-2 text-center"> Pending Events</h4>
    <div class="list-group pending-event-container">
    
          
          
    </div>

</aside>

