
        <!--LEFT SIDE BAR START-->
        <div class="position-fixed vh-100 d-none d-lg-block sidebar">
            <div class="dashboardLogo text-white text-center position-relative">
              <a href="/dashboard/">
                <img class="logo" src="/img/logo.png" />
                </a>
            </div>
            <ul class="list-unstyled p-0 pb-5 m-0 sidebarNav scrollcust" id="accordion1">
                <a href="/dashboard/">
                    <li><img src="/img/dashboard.png"/> Dashboard</li>
                </a>
				
				 <a href="/faculty/facultySlotStatus/">
                    <li><img src="/img/table.png"/> Faculty Allocation Status</li>
                </a>
                
                <a href="/semester/getIndex/">
                    <li><img src="/img/table.png"/> Semester Data</li>
                </a>
                
                
                <!-- <span>
                    <li class="cursor-pointer d-flex collapsed" data-toggle="collapse" data-target="#collapseTimetable" aria-expanded="false" aria-controls="collapseTest">
                        <span class="mr-auto"><img src="/img/clock.png" alt="clock" /> <span>Time Table</span></span>
                        <i class="fas fa-plus ml-3 pt-1"></i>
                    </li>

                    <ul id="collapseTimetable" class="list-unstyled collapse" data-parent="#accordion1">
                        <a href="/infradata/upload_page/" class="text-white">
                            <li><img src="/img/upload-room.png"/> Upload Room Data</li>
                        </a>
                        <a href="/roomdata/getAllotmentPage/" class="text-white">
                            <li><img src="/img/timetable-allocation.png"/> Timetable Allocation</li>
                        </a>
                        <a href="/roomdata/studenttimetable/" class="text-white">
                            <li><img src="/img/student-time-table.png"/> Student's Time Table</li>
                        </a>
                        <a href="#" class="text-white">
                            <li><img src="/img/programwise-timetable.png"/> Program Time Table</li>
                        </a>
                        <a href="/roomdata/fetchRoomdata" class="text-white">
                            <li><img src="/img/room-data.png"/> Room Data</li>
                        </a>
                        <a href="/roomdata/getroomtimesheet/" class="text-white">
                            <li><img src="/img/raw-time-table.png"/> Raw Timetable</li>
                        </a>
                        <a href="/roomdata/getroomtimesheet/" class="text-white">
                            <li><img src="/img/simulation.png"/> Simulation</li>
                        </a>
                    </ul>
                </span>
 -->
                
                
                <a href="/courseworkload/uploadpage">
                    <li><img src="/img/upload-course-workload.png"/> Upload Course Workload</li>
                </a>
                <a href="/courseworkload/uploaded">
                    <li><img src="/img/view-course-workload.png"/> View Course Workload</li>
                </a>
                
                <!-- <a href="/programs/index/">
                    <li><img src="/img/programs.png"/> Programs</li>
                </a> -->
                <a href="/holidays/add/">
                    <li><img src="/img/upload-holiday.png"/> Upload Holiday</li>
                </a>
                <a href="/modulelist/index/">
                    <li><img src="/img/course-workload-status.png"/> Course Workload Status</li>
                </a>
                <a href="/faculty/uploadPage">
                    <li><img src="/img/upload-faculty.png"/> Upload Faculty Workload</li>
                </a>
                <a href="/courseworkload/facultyWorkload/">
                    <li><img src="/img/faculty-workload.png"/> View Faculty Workload</li>
                </a>
                
                <!-- <a href="/faculty/facultyTimesheet">
                    <li><img src="/img/faculty-timesheet.png"/> Faculty Timesheet</li>
                </a> -->
                
                <span>
                    <li class="cursor-pointer d-flex collapsed" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="false" aria-controls="collapseTest">
                        <span class="mr-auto"><img src="/img/preferences.png"/> Preferences</span>
                        <i class="fas fa-plus ml-3 pt-1"></i>
                    </li>

                    <ul id="collapseSettings" class="list-unstyled collapse" data-parent="#accordion1">
                        <a href="/slots/visitingFacultySlotTime" class="text-white">
                            <li><img src="/img/visiting-preference.png"/> Faculty Slot Preference</li>
                        </a>
                        <a href="/settings/sessionSlotPreference" class="text-white">
                            <li><img src="/img/session-preference.png"/> Acad Session Slot Preference</li>
                        </a>
                    </ul>
                </span>
                <a href="/slots/getSlotTime">
                    <li><img src="/img/faculty-timesheet.png"/> Slot Timing</li>
                </a>
                <a href="/logout">
                    <li><img src="/img/logout.png"/> Logout</li>
                </a>
            </ul>
        </div>
        <!--LEFT SIDE BAR END-->
