</head>
<body>
<aside class="left-sidebar">

    <div class="left-sidebar-logo">
       <a href="/admin/dashboard"> <img src="/image/logo-nmims.png" class="nmims-logo"> </a>
    </div>

   
    <h4 class="my-2 text-center"> Pending Events</h4>
    <div class="list-group pending-event-container">
    
          <div class="d-flex w-100 justify-content-between list-group-item list-group-item-action pending-event" >
            <p>B.com. - 7401<br>
            SEM 1 <br>
            Business Law<br>
            A-1 (TH)
            </p>
            <small>Faculty</small>
          </div>
        
          <div class="d-flex w-100 justify-content-between list-group-item list-group-item-action pending-event">
            <p>B.com. - 7401<br>
            SEM 1 <br>
            Business Law<br>
            A-1 (TH)
            </p>
            <small>Faculty</small>
          </div>
          
          <div class="d-flex w-100 justify-content-between list-group-item list-group-item-action pending-event">
            <p>B.com. - 7401<br>
            SEM 1 <br>
            Business Law<br>
            A-1 (TH)
            </p>
            <small>Faculty</small>
          </div>
          
    </div>

</aside>

