<div class="row my-3 gx-3 gy-3 row1-data">

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/management/academic">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/academic-master.png" alt="">
                    <p class="fw-normal pt-1">ACADEMIC MASTER</p>
                </div>
            </div>
        </a>
    </div>


    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/management/organizations">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/organization.png" alt="">
                    <p class="fw-normal pt-1">ORGANIZATION MASTER</p>
                </div>
            </div>
        </a>
    </div>


    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/management/campuses">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/campus.png" alt="">
                    <p class="fw-normal pt-1">CAMPUS MASTER</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/management/buildings">
            <div class="card row1-data-card text-center ">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/school-building.png" alt="">
                    <p class="fw-normal pt-1">BUILDING MASTER</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/management/rooms">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/room-master.png" alt="">
                    <p class="fw-normal pt-1">ROOM MASTER</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/management/faculties">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/faculty.png" alt="">
                    <p class="fw-normal pt-1">FACULTY MASTER</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/management/holidays">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/holidays.png" alt="">
                    <p class="fw-normal pt-1">HOLIDAY</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/management/room">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/report.png" alt="">
                    <p class="fw-normal pt-1">MIS</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-2 col-lg-4 col-md-6">
        <a href="/management/programs">
            <div class="card row1-data-card text-center">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <img src="/icon_imgs/programs.png" alt="">
                    <p class="fw-normal pt-1">PROGRAM</p>
                </div>
            </div>
        </a>
    </div>



</div>


<!-- DATA-ROW-2 -->

<div class="row gy-3 gx-3 mb-3 row2-data">
    <div class="col-xl-6 col-md-10">
        <div class="card  row2-data-card">
            <div class="card-body">
                <h6>Total Room Occupied</h6>
                <div id="chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4">
        <div class="card row2-data-card">
            <div class="card-body">
                <h6>Total Room Occupied</h6>
                <div id="chart1">filter</div>
                <h1>100 </h1>
                <div id="count">Room Count</div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4">
        <div class="card row2-data-card">
            <div class="card-body">
                <h6>Total Lectures</h6>
                <div id="chart1">filter</div>
                <h1>75</h1>
                <div id="count">Lectures Count</div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4">
        <div class="card row2-data-card">
            <div class="card-body">
                <h6>Incomplete Task</h6>
                <div id="chart1">filter</div>
                <h1>21 </h1>
                <div id="count">Task Count</div>
            </div>
        </div>
    </div>
</div>


<!-- DATA-ROW-3/ USER TABLE -->

<div class="row gy-3 gx-3 row3-data">
    <div class="col-xl-6">
        <div class="table-card card row3-data-card">
            <div class="card-header table-card-header text-uppercase d-flex align-items-center">
                <h5>User</h5>
                <div class="table-searchbar-container"
                    style="box-shadow: inset 0 1px 1px rgb(0 0 0 / 1%), 0 0 8px rgb(34 139 230 / 50%)!important">
                    <button type="button"><i class="fas fa-search"></i> </button><input type="search" id="searchkeyword"
                        placeholder="Enter keywords" class="table-searchbar"></div>
            </div>

            <div class="table-responsive card-body">
                <table class="table custom_row" id="datatable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#"><i class="fas fa-window-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#"><i class="fas fa-window-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#"><i class="fas fa-window-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#"><i class="fas fa-window-close"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#"><i class="fas fa-window-close"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="col-xl-6">
        <div class="table-card card row3-data-card">
            <div class="table-card card row3-data-card">
                <div class="card-header table-card-header text-uppercase d-flex align-items-center">
                    <h5>User</h5>
                    <div class="table-searchbar-container"
                        style="box-shadow: inset 0 1px 1px rgb(0 0 0 / 1%), 0 0 8px rgb(34 139 230 / 50%)!important">
                        <button type="button"><i class="fas fa-search"></i> </button><input type="search"
                            id="searchkeyword" placeholder="Enter keywords" class="table-searchbar"></div>
                </div>
                <div class="table-responsive card-body">
                    <table class="table custom_row datatable" id="datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>
                                    <a href="#"><i class="fas fa-edit"></i></a>
                                    <a href="#"><i class="fas fa-window-close"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>
                                    <a href="#"><i class="fas fa-edit"></i></a>
                                    <a href="#"><i class="fas fa-window-close"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>
                                    <a href="#"><i class="fas fa-edit"></i></a>
                                    <a href="#"><i class="fas fa-window-close"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>
                                    <a href="#"><i class="fas fa-edit"></i></a>
                                    <a href="#"><i class="fas fa-window-close"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>
                                    <a href="#"><i class="fas fa-edit"></i></a>
                                    <a href="#"><i class="fas fa-window-close"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
</script>