<h1>Registeration Form:</h1>
<form action="/user/login" method="POST">
<div>
    <label for="name">Name</label><br>
    <input
      type="name"
      name="name"
      placeholder="Enter Name"
      
    />
  
</div><br>
<div>
    <label for="email">Email</label><br>
    <input
      type="email"
      name="email"
      placeholder="Enter Email"
    
    />
  </div><br>
  <div >
    <label for="password">Password</label><br>
    <input
      type="password"
      name="password"
      placeholder="Create Password"
      
    />
  </div><br>
  <div >
    <label for="confirmPassword">Confirm Password</label><br>
    <input
      type="password"
      name="confirmPassword"
      placeholder="Confirm Password"
     
    />
  </div><br>
  <div >
    <label for="contact">Contact_no</label><br>
    <input
      type="contact"
      name="contact"
      placeholder="Contact_no"
     
    />
  </div><br>
  <div >
    <label for="city">City</label><br>
    <input
      type="city"
      name="city"
      placeholder="City"
    
    />
  </div><br>
  <button type="submit" class="btn btn-primary btn-block">
    Register
  </button>
</form>
<p >Have An Account? <a href="./index">Login</a></p>